%playersStyle{
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    height: 80%;
    color: gold;
    text-shadow:
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
}

.hero{
    height: 100vh;
    text-align: center;
    background: rgb(2,27,7);
    background: linear-gradient(90deg, rgba(2,27,7,1) 0%, rgba(77,26,78,1) 46%, rgba(35,7,48,1) 100%);
}
.gameTitle{
    font-size: 3.5rem;
    color: gold;
}
.game{
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    align-items: center;

    &__player1{
        @extend %playersStyle;

        &--score{
            font-size: 2rem
        }
    }

    &__player2{
       @extend %playersStyle;

       &--score{
        font-size: 2rem;
       }
    }
}