@import "../responsive/mediaQueries";

%playersStyle{
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    height: 80%;
    color: gold;
    text-shadow:
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe;
}
%buttonStyle{
    color: gold;
    cursor: pointer;
    margin: 0 auto;
    width: 70%;
    font-size: 1.3rem;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gold;
    box-shadow: 
    0 0 11px #fff,
    0 0 20px #fff,
    0 0 32px #bc13fe,
    0 0 42px #bc13fe;
}

.hero{
    height: 100vh;
    text-align: center;
    background: rgb(2,27,7);
    background: linear-gradient(90deg, rgba(2,27,7,1) 0%, rgba(77,26,78,1) 46%, rgba(35,7,48,1) 100%);
}
.gameTitle{
    font-size: 3.5rem;
    color: gold;
            @include screen(extra-small, small){
                font-size: 2rem;
                padding: 10px;
            }
}
.game{
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    align-items: center;
            @include screen(extra-small, small){
                display: grid;
                grid-template-columns: auto 0 auto;
                grid-template-rows: 15vh 62vh auto
            }

    &__player1, &__player2{
        @extend %playersStyle;

            @include screen(extra-small, small){
                font-size: 7vw;
            }

        &--score{
            font-size: 2rem;

            @include screen(extra-small, small){
                font-size: 5vw;
            }
        }

        &--points{
            font-family: 'Rubik Moonrocks', cursive;
            color: red;
            font-size: 6rem;

            @include screen(extra-small, small){
                font-size: 12vw;
                text-shadow: none;
            }
        }
    }
    &__player2{
        @include screen(extra-small, small){
            grid-area: 1 / 3;
        }
    }

    &__board{
        @include screen(extra-small, small){
            grid-column: 1 / 4;
        
        }
    }

    &__restatGame{
        @extend %buttonStyle
    }

    &__exitGame{
        grid-column: 3 / 4;
        @extend %buttonStyle
    }
    
    }