%bigTextStyle{
            color: rgb(255, 230, 0);
            letter-spacing: 0.5rem;
            text-shadow:
            0 0 10px #fff,
            0 0 22px #bc13fe,
            0 0 34px #bc13fe,
            0 0 44px #bc13fe,
}

.home{
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: rgb(2,27,7);
    background: linear-gradient(90deg, rgba(2,27,7,1) 0%, rgba(77,26,78,1) 46%, rgba(35,7,48,1) 100%);

    &__title{
        @extend %bigTextStyle;
        font-size: 7rem;
        padding: 3%;
    }

    &__mainView{
        display: grid;
        height: 60%;
        justify-items: center;
        grid-template-columns: 1fr 1fr;

        &--description{
            @extend %bigTextStyle;
            font-size: 4rem;
            grid-column: 1 / 3;
        }

        &--info{
            font-size: 2rem;
            color: tomato;
        }

        &--button{
            grid-column: 1 / 3;
            width: 30%;
            font-size: 1.5rem;
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid black;
            background-color: rgb(99, 60, 126);
            color: white;
            text-shadow: -6px 7px 9px rgba(0, 0, 0, 1);
            transition: 0.5s ease;
           
        }
        &--button:hover{
            box-shadow:
            0 0 10px #fff,
            0 0 22px #bc13fe,
            0 0 34px #bc13fe,
            0 0 44px #bc13fe,;
        }
    }
}
label{
    @extend %bigTextStyle;
    font-size: 2rem;
}
.inputs{
    font-size: 1.5rem;
    text-align: center;
}